@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@inject IMediator Mediatr
@using MediatR
@using NbpApp.Web.Logic

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
        var command = new GetAndSaveGoldPrices.Command(new DateOnly(2024, 12, 1));

        var result = await Mediatr.Send(command);
    }

}