@page "/"
@rendermode InteractiveServer

<PageTitle>Nbp gold prices</PageTitle>

<div class="mb-3">
    <div class="form-floating mb-3">
        <input type="date" class="form-control" @bind="startDate">
        <label>Start date</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" @bind="endDate">
        <label>End date</label>
    </div>
    <button class="btn btn-primary" @onclick="FetchGoldPrices">Fetch gold prices</button>
</div>


@if (result?.IsSuccess == true)
{
    <div class="mb-3">
        <h3>Results:</h3>
        <p>Start date price: @result.StartDatePrice.ToString("F2")</p>
        <p>End date price: @result.EndDatePrice.ToString("F2")</p>
        <p>Average price: @result.AveragePrice.ToString("F2")</p>
    </div>
}

@if (result?.IsSuccess == false)
{
    <div class="mb-3">
        <h3>Error occurred when fetching data</h3>
        <p>@result.ErrorMessage</p>
    </div>
}


@inject IMediator Mediator
@using MediatR
@using NbpApp.Web.Logic

@code {
    private GoldPriceResult? result;

    private DateOnly startDate { get; set; } = DateOnly.FromDateTime(DateTime.UtcNow.AddDays(-30));
    private DateOnly endDate { get; set; } = DateOnly.FromDateTime(DateTime.UtcNow);
    private async Task FetchGoldPrices()
    {
        var command = new GetAndSaveGoldPrices.Command(startDate, endDate);
        result = await Mediator.Send(command);
    }
}